.customer_center {
    width: 100%;
    color: white;
    
    a {
        color: white;
    }

    .customer_center_background {
        display: flex;
        justify-content: space-between;
        background-color: #2b2b2b;
        padding: 7% 12.5% 7% 12.5%;
        z-index: -1;

        .customer_center_title {
            .enigma_logo {
                width: 17rem;
            }
            h1 {
                // color: white;
            }
        }

        .customer_center_image {
            width: 22rem;
            margin-right: 5%;
        }

        @media (max-width:1050px) {
            .customer_center_image {
                display: none;
            }
        }
    }

    .customer_center_tab_list {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 5.8vh;
        // z-index: 1;

        .customer_center_tab {
            display: flex;
            // color: white;
            width: 66%;
            flex-wrap: wrap;

            .customer_center_tab1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #2763BB;
                padding: 3%;
                flex-basis: 22%;
                flex-grow: 1;
            }

            .customer_center_tab2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #018ACE;
                padding: 3%;
                flex-basis: 22%;
                flex-grow: 1;
            }

            .customer_center_tab3 {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #2DA490;
                padding: 3%;
                flex-basis: 22%;
                flex-grow: 1;
            }

            h2 {
                align-self: flex-start;
            }

            .customer_center_tab_image {
                width: 10rem;
                float: left;
                margin-top: 20%;
            }
        }
    }
}