.list {
    border: 1.5px solid #00000029;
    display: flex;
    align-items: center;
    // height: 13em;

    .teacher_image {
        height: 12em;
    }

    .lecture_informaion {
        padding: 5px 7px 0px 7px;
        flex-grow: 1;
        
        div {
            margin-bottom: 1%;
        }

        .title {
            font-size: 1.25rem;
            color: #166FFB;
            font-weight: 600;
        }

        dl {
            margin: 0;

            .lect_info_row {
                display: flex;
                
                dt {
                    font-weight: 600;
                    flex-basis: 4rem;
                }
                dd {
                    margin-left: 5px;
                    flex-basis: 4rem;
                }
                .second_col {
                    flex-grow: 1;
                }
            }
        }
    }
    
    .price {
        font-size: 1.15rem;
        color: #FF5050;
        font-weight: 600;
    }

    @media (max-width: 800px) {
        .lecture_informaion {
            .title {
                font-size: 1.1rem;
            }

            dl {
                .lect_info_row {
                    dd {
                        flex-basis: 3rem;
                    }
                }
            }
        }
    }
}